<div class="main posts-index">
    <div class="container">

        <%= form_tag("/post/create") do %>
        <div class="form">
            <div class="form-body">
                <label>Judul</label>
                <input name="judul">

                <label>Deskripsi</label>
                <textarea name="deskripsi"></textarea>

                <button type="submit">Simpan</button>
                <a href="/my/post">Kembali</a>
            </div>
        </div>
        <% end %>

    </div>
</div>